__pycache__/
*.pyc
*.pyo

debug_body/
debug_face_yolo/
deepface_inbox/
faces_yolo/
final/
main_image/
models_cache/
moondream_inbox/
sketch/

.git/
.idea/
.vscode/

*.log
Thumbs.db
README.txt
docker-compose.yml
config.yaml
